BRAND_NAME='Vocabulary'
ENVIRONMENT='DEV'
DEBUG='True'
SECURE_SSL_REDIRECT='False'
SECRET_KEY='GET_DATA'
DATABASE_URL='GET_DATA'
CLOUDINARY_URL='GET_DATA'
EMAIL_USER='GET_DATA'
EMAIL_PASSWORD='GET_DATA'
DEFAULT_PRIMARY_LANGUAGE='de'
COOKIES_MAX_AGE_IN_DAYS='2'
API_URL='http://127.0.0.1:8000'
